<a href="https://colab.research.google.com/github/Thippawan72/Thippawan-Supho/blob/main/HomeWork.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# HW 1

## คำนวณว่า ช่วงเวลาต่อไปนี้ ห่างกันกี่ ชั่วโมง กี่นาที กี่วินาที (print ออกมาให้สวยงาม)


*  12:30:15 - 13:41:07
*  09:11:50 - 21:30:15
*  19:25:30 - 03:10:15

In [ ]:
#1
q1 = '12:30:15'
Q1 = q1.split(":")
hours1 = int(Q1[0])*3600
minutes1 = int(Q1[1])*60
seconds1 = int(Q1[2])
f1 =  hours1 + minutes1 + seconds1

q2 = '13:41:07'
Q2 = q2.split(":")
hours2 = int(Q2[0])*3600
minutes2 = int(Q2[1])*60
seconds2 = int(Q2[2])
f2 =  hours2 + minutes2 + seconds2

Result1 = f2 - f1
hourX = int(Result1/3600)
minuteX = int(Result1%3600/60)
secondX = int(Result1%60)
print("Time started 12:30:15" )
print("Time finihsed 13:41:07" )
print(f'>>> Time diff is {hourX}:{minuteX}:{secondX} <<<')

Time started 12:30:15
Time finihsed 13:41:07
>>> Time diff is 1:10:52 <<<

In [ ]:
#2
q3 = '09:11:50'
Q3 = q3.split(":")
hours3 = int(Q3[0])*3600
minutes3 = int(Q3[1])*60
seconds3 = int(Q3[2])
f3 =  hours3 + minutes3 + seconds3

q4 = '21:30:15'
Q4 = q4.split(":")
hours4 = int(Q4[0])*3600
minutes4 = int(Q4[1])*60
seconds4 = int(Q4[2])
f4 =  hours4 + minutes4 + seconds4

Result2 = f4 - f3
hourY = int(Result2/3600)
minuteY = int(Result2%3600/60)
secondY = int(Result2%60)
print("Time started 09:11:50" )
print("Time finihsed 21:30:15" )
print(f'>>> Time diff is {hourY}:{minuteY}:{secondY} <<<')

Time started 09:11:50
Time finihsed 21:30:15
>>> Time diff is 12:18:25 <<<

In [ ]:
#3
q5 = '19:25:30'
Q5 = q5.split(":")
hours5 = int(Q5[0])*3600
minutes5 = int(Q5[1])*60
seconds5 = int(Q5[2])
f5 =  hours5 + minutes5 + seconds5

q6 = '03:10:15'
Q6 = q6.split(":")
hours6 = int(Q6[0])*3600
minutes6 = int(Q6[1])*60
seconds6 = int(Q6[2])
f6 =  hours6 + minutes6 + seconds6 + (24*60*60) #เนื่องจากเกินมา 1 วัน จึงต้องนำมาคูณ

Result3 = f6 - f5
hourZ = int(Result3/3600)
minuteZ = int(Result3%3600/60)
secondZ = int(Result3%60)
print("Time started 19:25:30" )
print("Time finihsed 03:10:15" )
print(f'>>> Time diff is {hourZ}:{minuteZ}:{secondZ} <<<')

Time started 19:25:30
Time finihsed 03:10:15
>>> Time diff is 7:44:45 <<<

Key

In [ ]:
from datetime import datetime
time1 = '19:25:30'
time2 = '03:10:15'

fmt = '%H:%M:%S'
s = datetime.strptime(time2, fmt) - datetime.strptime(time1, fmt)
print( 'เวลา',time1,'-',time2,'ห่างกัน',s )

เวลา 19:25:30 - 03:10:15 ห่างกัน -1 day, 7:44:45

In [ ]:
# รับค่า
q2 = '09:11:50 - 21:30:15'.split(' - ')
print(q2)
t1 = q2[0].split(':')
t2 = q2[1].split(':')

t1_cal = [0,0,0]
t2_cal = [0,0,0]

t1_cal[0] = int(t1[0])
t1_cal[1] = int(t1[1])
t1_cal[2] = int(t1[2])

t2_cal[0] = int(t2[0])+23 #ยืมเวลาของวันมาก่อน
t2_cal[1] = int(t2[1])+59 #ยืมของชั่วโมงมาก่อน
t2_cal[2] = int(t2[2])+60 #ยืมเวลาของนาทีมาก่อน

# calculation process
t_diff = [0,0,0]

t_diff[2] = (t2_cal[2] - t1_cal[2])
t_diff[1] = (t2_cal[1] - t1_cal[1])
t_diff[0] = (t2_cal[0] - t1_cal[0])

t_ans = [0,0,0]
t_ans[2] = t_diff[2]%60
t_ans[1] = (t_diff[1] + t_diff[2]//60)%60 #คืนที่ยืมมาโดยการหารปัดเศษ
t_ans[0] = (t_diff[0] + (t_diff[1] + t_diff[2])//60)%24 #คืนที่ยืมมาโดยการหารปัดเศษ

#output
print('-'*55)
print(f"ช่วงเวลาทั้งสองห่างกัน {t_ans[0]} ชั่วโมง {t_ans[1]} นาที {t_ans[2]} วินาที")
print('-'*55)

['09:11:50', '21:30:15']
-------------------------------------------------------
ช่วงเวลาทั้งสองห่างกัน 12 ชั่วโมง 18 นาที 25 วินาที
-------------------------------------------------------

# HW 2

###สร้าง logo พรรคก้าวไกล
![MFP_B_Final-01-350x184.png]()

In [ ]:
import numpy as np

Phita = np.zeros((25,15))
ก้าว = 11
ไกล = 88
Phita[0:3] = ไกล
Phita[3,12:15] = ไกล
Phita[4,12:15] = ไกล
Phita[5,1:14] = ไกล
Phita[6,1:14] = ไกล
Phita[7,1:14] = ไกล
Phita[8,7:13] = ไกล

#สามเหลี่ยมด้านนอก
Phita[8,2:7] = ก้าว
Phita[9,2:6] = ก้าว
Phita[10,2:6] = ก้าว
Phita[9,6:13] = ไกล
Phita[10,6:13] = ไกล
Phita[11,2:5] = ก้าว
Phita[12,3:5] = ก้าว
Phita[13,3:5] = ก้าว

Phita[11,5:13] = ไกล
Phita[12,5:12] = ไกล
Phita[13,4:12] = ไกล
Phita[14,3:12] = ไกล
Phita[15,4:11] = ไกล
Phita[16,4:11] = ไกล
Phita[17,4:11] = ไกล
Phita[18,5:10] = ไกล
Phita[19,5:10] = ไกล
Phita[20,5:10] = ไกล

#สามเหลี่ยมด้านใน หรือ เลข 7 ตรงกลาง
Phita[3,0:12] = ก้าว
Phita[4,1:12] = ก้าว
Phita[5,10:12] = ก้าว
Phita[6,10:12] = ก้าว
Phita[7,10:11] = ก้าว
Phita[8,9:11] = ก้าว
Phita[9,9:10] = ก้าว
Phita[10,8:10] = ก้าว
Phita[11,8:10] = ก้าว
Phita[12,8:9] = ก้าว
Phita[13,7:9] = ก้าว
Phita[14,7:8] = ก้าว
Phita[15,7:8] = ก้าว
Phita[16,6:7] = ก้าว
Phita[17,6:7] = ก้าว
Phita[18,5:7] = ก้าว
Phita[19,5:6] = ก้าว
Phita[20,5:6] = ก้าว

Phita[21,6:9] = ไกล
Phita[22,6:9] = ไกล
Phita[23,7] = ไกล
Phita[24,7] = ไกล
print(Phita)

[[88. 88. 88. 88. 88. 88. 88. 88. 88. 88. 88. 88. 88. 88. 88.]
 [88. 88. 88. 88. 88. 88. 88. 88. 88. 88. 88. 88. 88. 88. 88.]
 [88. 88. 88. 88. 88. 88. 88. 88. 88. 88. 88. 88. 88. 88. 88.]
 [11. 11. 11. 11. 11. 11. 11. 11. 11. 11. 11. 11. 88. 88. 88.]
 [ 0. 11. 11. 11. 11. 11. 11. 11. 11. 11. 11. 11. 88. 88. 88.]
 [ 0. 88. 88. 88. 88. 88. 88. 88. 88. 88. 11. 11. 88. 88.  0.]
 [ 0. 88. 88. 88. 88. 88. 88. 88. 88. 88. 11. 11. 88. 88.  0.]
 [ 0. 88. 88. 88. 88. 88. 88. 88. 88. 88. 11. 88. 88. 88.  0.]
 [ 0.  0. 11. 11. 11. 11. 11. 88. 88. 11. 11. 88. 88.  0.  0.]
 [ 0.  0. 11. 11. 11. 11. 88. 88. 88. 11. 88. 88. 88.  0.  0.]
 [ 0.  0. 11. 11. 11. 11. 88. 88. 11. 11. 88. 88. 88.  0.  0.]
 [ 0.  0. 11. 11. 11. 88. 88. 88. 11. 11. 88. 88. 88.  0.  0.]
 [ 0.  0.  0. 11. 11. 88. 88. 88. 11. 88. 88. 88.  0.  0.  0.]
 [ 0.  0.  0. 11. 88. 88. 88. 11. 11. 88. 88. 88.  0.  0.  0.]
 [ 0.  0.  0. 88. 88. 88. 88. 11. 88. 88. 88. 88.  0.  0.  0.]
 [ 0.  0.  0.  0. 88. 88. 88. 11. 88. 88. 88.  0.  0.  0.  0.]
 [ 0.  0.  0.  0. 88. 88. 11. 88. 88. 88. 88.  0.  0.  0.  0.]
 [ 0.  0.  0.  0. 88. 88. 11. 88. 88. 88. 88.  0.  0.  0.  0.]
 [ 0.  0.  0.  0.  0. 11. 11. 88. 88. 88.  0.  0.  0.  0.  0.]
 [ 0.  0.  0.  0.  0. 11. 88. 88. 88. 88.  0.  0.  0.  0.  0.]
 [ 0.  0.  0.  0.  0. 11. 88. 88. 88. 88.  0.  0.  0.  0.  0.]
 [ 0.  0.  0.  0.  0.  0. 88. 88. 88.  0.  0.  0.  0.  0.  0.]
 [ 0.  0.  0.  0.  0.  0. 88. 88. 88.  0.  0.  0.  0.  0.  0.]
 [ 0.  0.  0.  0.  0.  0.  0. 88.  0.  0.  0.  0.  0.  0.  0.]
 [ 0.  0.  0.  0.  0.  0.  0. 88.  0.  0.  0.  0.  0.  0.  0.]]

In [ ]:
new_generation = 11
Phita = new_generation * np.ones((25,15))
ก้าวไกล = 88

# Bar
Phita[0:3] = ก้าวไกล

# ____
Phita[3,12:15] = ก้าวไกล
Phita[4,12:15] = ก้าวไกล

# /
Phita[5,1:10] = ก้าวไกล
Phita[5,12:14] = ก้าวไกล
Phita[6,1:10] = ก้าวไกล
Phita[6,12:14] = ก้าวไกล
Phita[7,1:9] = ก้าวไกล
Phita[7,11:14] = ก้าวไกล
Phita[8,11:13] = ก้าวไกล
Phita[9,10:13] = ก้าวไกล
Phita[10,10:13] = ก้าวไกล
Phita[11,10:13] = ก้าวไกล
Phita[12,9:12] = ก้าวไกล
Phita[13,9:12] = ก้าวไกล
Phita[14,8:12] = ก้าวไกล
Phita[15,8:11] = ก้าวไกล
Phita[16,7:11] = ก้าวไกล
Phita[17,6:11] = ก้าวไกล
Phita[18,6:10] = ก้าวไกล

#สามเหลี่ยมด้านนอก
Phita[8,7:9] = ก้าวไกล
Phita[9,6:9] = ก้าวไกล
Phita[10,6:8] = ก้าวไกล
Phita[11,5:8] = ก้าวไกล
Phita[12,5:8] = ก้าวไกล
Phita[13,3:7] = ก้าวไกล
Phita[14,3:6] = ก้าวไกล
Phita[15,4:6] = ก้าวไกล
Phita[16,4:5] = ก้าวไกล

#มุมล่าง
Phita[19,5:10] = ก้าวไกล
Phita[20,5:10] = ก้าวไกล
Phita[21,6:9] = ก้าวไกล
Phita[22,6:9] = ก้าวไกล
Phita[23,7] = ก้าวไกล
Phita[24,7] = ก้าวไกล
print(Phita)

[[88. 88. 88. 88. 88. 88. 88. 88. 88. 88. 88. 88. 88. 88. 88.]
 [88. 88. 88. 88. 88. 88. 88. 88. 88. 88. 88. 88. 88. 88. 88.]
 [88. 88. 88. 88. 88. 88. 88. 88. 88. 88. 88. 88. 88. 88. 88.]
 [11. 11. 11. 11. 11. 11. 11. 11. 11. 11. 11. 11. 88. 88. 88.]
 [11. 11. 11. 11. 11. 11. 11. 11. 11. 11. 11. 11. 88. 88. 88.]
 [11. 88. 88. 88. 88. 88. 88. 88. 88. 88. 11. 11. 88. 88. 11.]
 [11. 88. 88. 88. 88. 88. 88. 88. 88. 88. 11. 11. 88. 88. 11.]
 [11. 88. 88. 88. 88. 88. 88. 88. 88. 11. 11. 88. 88. 88. 11.]
 [11. 11. 11. 11. 11. 11. 11. 88. 88. 11. 11. 88. 88. 11. 11.]
 [11. 11. 11. 11. 11. 11. 88. 88. 88. 11. 88. 88. 88. 11. 11.]
 [11. 11. 11. 11. 11. 11. 88. 88. 11. 11. 88. 88. 88. 11. 11.]
 [11. 11. 11. 11. 11. 88. 88. 88. 11. 11. 88. 88. 88. 11. 11.]
 [11. 11. 11. 11. 11. 88. 88. 88. 11. 88. 88. 88. 11. 11. 11.]
 [11. 11. 11. 88. 88. 88. 88. 11. 11. 88. 88. 88. 11. 11. 11.]
 [11. 11. 11. 88. 88. 88. 11. 11. 88. 88. 88. 88. 11. 11. 11.]
 [11. 11. 11. 11. 88. 88. 11. 11. 88. 88. 88. 11. 11. 11. 11.]
 [11. 11. 11. 11. 88. 11. 11. 88. 88. 88. 88. 11. 11. 11. 11.]
 [11. 11. 11. 11. 11. 11. 88. 88. 88. 88. 88. 11. 11. 11. 11.]
 [11. 11. 11. 11. 11. 11. 88. 88. 88. 88. 11. 11. 11. 11. 11.]
 [11. 11. 11. 11. 11. 88. 88. 88. 88. 88. 11. 11. 11. 11. 11.]
 [11. 11. 11. 11. 11. 88. 88. 88. 88. 88. 11. 11. 11. 11. 11.]
 [11. 11. 11. 11. 11. 11. 88. 88. 88. 11. 11. 11. 11. 11. 11.]
 [11. 11. 11. 11. 11. 11. 88. 88. 88. 11. 11. 11. 11. 11. 11.]
 [11. 11. 11. 11. 11. 11. 11. 88. 11. 11. 11. 11. 11. 11. 11.]
 [11. 11. 11. 11. 11. 11. 11. 88. 11. 11. 11. 11. 11. 11. 11.]]

# HW 2.5

### สร้าง Function เพื่อ print logo พรรคก้าวไกล โดย input พื้นหลังได้

In [ ]:
 import numpy as np

 def print_KaoKlai(num_bg = 0):
  new_generation = int(num_bg)
  Phita = new_generation * np.ones((25,15))
  ก้าวไกล = 88
  Phita[0:3] = ก้าวไกล
  Phita[3,12:15] = ก้าวไกล
  Phita[4,12:15] = ก้าวไกล
  Phita[5,1:10] = ก้าวไกล
  Phita[5,12:14] = ก้าวไกล
  Phita[6,1:10] = ก้าวไกล
  Phita[6,12:14] = ก้าวไกล
  Phita[7,1:9] = ก้าวไกล
  Phita[7,11:14] = ก้าวไกล
  Phita[8,7:9] = ก้าวไกล
  Phita[8,11:13] = ก้าวไกล
  Phita[9,6:9] = ก้าวไกล
  Phita[9,10:13] = ก้าวไกล
  Phita[10,6:8] = ก้าวไกล
  Phita[10,10:13] = ก้าวไกล
  Phita[11,5:8] = ก้าวไกล
  Phita[11,10:13] = ก้าวไกล
  Phita[12,5:8] = ก้าวไกล
  Phita[12,9:12] = ก้าวไกล
  Phita[13,3:7] = ก้าวไกล
  Phita[13,9:12] = ก้าวไกล
  Phita[14,3:6] = ก้าวไกล
  Phita[14,8:12] = ก้าวไกล
  Phita[15,4:6] = ก้าวไกล
  Phita[15,8:11] = ก้าวไกล
  Phita[16,4:5] = ก้าวไกล
  Phita[16,7:11] = ก้าวไกล
  Phita[17,6:11] = ก้าวไกล
  Phita[18,6:10] = ก้าวไกล
  Phita[19,5:10] = ก้าวไกล
  Phita[20,5:10] = ก้าวไกล
  Phita[21,6:9] = ก้าวไกล
  Phita[22,6:9] = ก้าวไกล
  Phita[23,7] = ก้าวไกล
  Phita[24,7] = ก้าวไกล

  print(Phita)

#print_KaoKlai(num) <<< คำสั่งรัน Output
#แนะนำให้ใช้เลขหลักสิบที่มีเลขโดดเหมือนกัน เช่น 11 จึงจะเห็นผลลัพธ์ชัดเจนที่สุด

In [ ]:
print_KaoKlai(11)

[[88. 88. 88. 88. 88. 88. 88. 88. 88. 88. 88. 88. 88. 88. 88.]
 [88. 88. 88. 88. 88. 88. 88. 88. 88. 88. 88. 88. 88. 88. 88.]
 [88. 88. 88. 88. 88. 88. 88. 88. 88. 88. 88. 88. 88. 88. 88.]
 [11. 11. 11. 11. 11. 11. 11. 11. 11. 11. 11. 11. 88. 88. 88.]
 [11. 11. 11. 11. 11. 11. 11. 11. 11. 11. 11. 11. 88. 88. 88.]
 [11. 88. 88. 88. 88. 88. 88. 88. 88. 88. 11. 11. 88. 88. 11.]
 [11. 88. 88. 88. 88. 88. 88. 88. 88. 88. 11. 11. 88. 88. 11.]
 [11. 88. 88. 88. 88. 88. 88. 88. 88. 11. 11. 88. 88. 88. 11.]
 [11. 11. 11. 11. 11. 11. 11. 88. 88. 11. 11. 88. 88. 11. 11.]
 [11. 11. 11. 11. 11. 11. 88. 88. 88. 11. 88. 88. 88. 11. 11.]
 [11. 11. 11. 11. 11. 11. 88. 88. 11. 11. 88. 88. 88. 11. 11.]
 [11. 11. 11. 11. 11. 88. 88. 88. 11. 11. 88. 88. 88. 11. 11.]
 [11. 11. 11. 11. 11. 88. 88. 88. 11. 88. 88. 88. 11. 11. 11.]
 [11. 11. 11. 88. 88. 88. 88. 11. 11. 88. 88. 88. 11. 11. 11.]
 [11. 11. 11. 88. 88. 88. 11. 11. 88. 88. 88. 88. 11. 11. 11.]
 [11. 11. 11. 11. 88. 88. 11. 11. 88. 88. 88. 11. 11. 11. 11.]
 [11. 11. 11. 11. 88. 11. 11. 88. 88. 88. 88. 11. 11. 11. 11.]
 [11. 11. 11. 11. 11. 11. 88. 88. 88. 88. 88. 11. 11. 11. 11.]
 [11. 11. 11. 11. 11. 11. 88. 88. 88. 88. 11. 11. 11. 11. 11.]
 [11. 11. 11. 11. 11. 88. 88. 88. 88. 88. 11. 11. 11. 11. 11.]
 [11. 11. 11. 11. 11. 88. 88. 88. 88. 88. 11. 11. 11. 11. 11.]
 [11. 11. 11. 11. 11. 11. 88. 88. 88. 11. 11. 11. 11. 11. 11.]
 [11. 11. 11. 11. 11. 11. 88. 88. 88. 11. 11. 11. 11. 11. 11.]
 [11. 11. 11. 11. 11. 11. 11. 88. 11. 11. 11. 11. 11. 11. 11.]
 [11. 11. 11. 11. 11. 11. 11. 88. 11. 11. 11. 11. 11. 11. 11.]]

# HW3



1.   รายการที่แพงและถูกที่สุด คือ รายการไหน
2.   รายการขุดลอกคูคลองของ 'สำนักงานเขตคลองสาน' และ 'สำนักงานเขตคลองสามวา'
3.   จากข้อ 2 เขตไหนใช้งบประมาณมากกว่ากัน
4.   Core Budget ไหน ('12-เงินสำรองจ่ายทั่วไป กรณีค่าใช้จ่ายต่างๆ เกี่ยวกับน้ำท่วม', '17-เงินสำรองจ่ายทั่วไป กรณีค่าใช้จ่ายเพื่อการพัฒนากรุงเทพมหานคร','28-เงินสำรองค่าใช้จ่าย ในการพัฒนาเขต') มีค่าเฉลี่ยงบประมาณที่ถูกอนุมัติสูงที่สุด

In [ ]:
import pandas as pd

In [ ]:
from google.colab import drive
drive.mount('/content/drive')  # mount =  เชื่อมไดร์ฟ

Mounted at /content/drive

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [ ]:
data1 = pd.read_csv('/content/drive/MyDrive/DataViz23Data/DataBKK01.csv')
data1.head()

,Budget_resource,Issue_No,Fiscal_year,Department_code,Department,Core_budget_code,Expenditure_category,Item_name,Approved_buget
0,งบประจำปี,0,62,11000000,สำนักการระบายน้ำ,12-เงินสำรองจ่ายทั่วไป กรณีค่าใช้จ่ายต่างๆ เกี...,งบลงทุน,ขุดลอกคลองบางกะปิจากคลองสามเสนถึงคลองแสนแสบ,1193000
1,งบประจำปี,0,62,11000000,สำนักการระบายน้ำ,12-เงินสำรองจ่ายทั่วไป กรณีค่าใช้จ่ายต่างๆ เกี...,งบลงทุน,ขุดลอกคลองทรงกระเทียมจากคลองลาดพร้าวถึงถนนโชคช...,1100000
2,งบประจำปี,0,62,11000000,สำนักการระบายน้ำ,12-เงินสำรองจ่ายทั่วไป กรณีค่าใช้จ่ายต่างๆ เกี...,งบลงทุน,ขุดลอกคลองเป้งจากคลองแสนแสบถึงซอยเจริญสุข,3075000
3,งบประจำปี,0,62,11000000,สำนักการระบายน้ำ,12-เงินสำรองจ่ายทั่วไป กรณีค่าใช้จ่ายต่างๆ เกี...,งบลงทุน,ขุดลอกคลองลำพังพวยจากถนนศรีบูรพาถึงสถานีสูบน้ำ...,6240000
4,งบประจำปี,0,62,11000000,สำนักการระบายน้ำ,12-เงินสำรองจ่ายทั่วไป กรณีค่าใช้จ่ายต่างๆ เกี...,งบลงทุน,ขุดลอกบึงรางเข้จากคลองพระยาราชมนตรีถึงถนนบางขุ...,2685000

## ข้อ 1.รายการที่แพงและถูกที่สุด คือ รายการไหน

In [ ]:
MaxValue_data1 = data1[['Approved_buget']].max()

print(f'รายการที่แพงที่สุดมีมูลค่า คือ {int(MaxValue_data1):,} บาท')
print(' ซึ่งได้แก่รายการ ')

MaxValue_data = data1[data1['Approved_buget']==28500000][['Item_name','Approved_buget','Department']]
MaxValue_data

รายการที่แพงที่สุดมีมูลค่า คือ 28,500,000 บาท
 ซึ่งได้แก่รายการ

,Item_name,Approved_buget,Department
576,ขุดลอกคลองพระยาสุเรนทร์ จากคลองหกวาถึงคลองบางช...,28500000,สำนักการระบายน้ำ

In [ ]:
MinValue_data1 = data1[['Approved_buget']].min()

print(f'รายการที่ถูกที่สุดมีมูลค่า คือ {int(MinValue_data1):,} บาท')
print(' ซึ่งได้แก่รายการ ')

MinValue_data = data1[data1['Approved_buget']==0][['Item_name','Approved_buget','Department']]
MinValue_data

รายการที่ถูกที่สุดมีมูลค่า คือ 0 บาท
 ซึ่งได้แก่รายการ

,Item_name,Approved_buget,Department
612,ขุดลอกลำกระโดงอำนวยสุข จากคลองบางกอกใหญ่ถึงสุด...,0,สำนักงานเขตธนบุรี
613,ขุดลอกคลองแยกวัดประดู่ จากคลองบางกอกใหญ่ถึงคลอ...,0,สำนักงานเขตธนบุรี
631,ขุดลอกคลองต้นโศกจากคลองราษฎร์บูรณะถึงคลองแจงร้อน,0,สำนักงานเขตราษฎร์บูรณะ

## ข้อ 2. รายการขุดลอกคูคลองของ 'สำนักงานเขตคลองสาน' และ 'สำนักงานเขตคลองสามวา'

In [ ]:
KlongSan = data1[data1['Department']=='สำนักงานเขตคลองสาน'][['Item_name','Department']]
KlongSan

In [ ]:
KlongSam = data1[data1['Department'] == 'สำนักงานเขตคลองสามวา'][['Item_name','Department']]
KlongSam

In [ ]:
data1[(data1['Department'] == 'สำนักงานเขตคลองสาน') | (data1['Department'] == 'สำนักงานเขตคลองสามวา')]

,Budget_resource,Issue_No,Fiscal_year,Department_code,Department,Core_budget_code,Expenditure_category,Item_name,Approved_buget
57,งบประจำปี,0,62,50170000,สำนักงานเขตคลองสาน,-,งบลงทุน,ขุดลอกคูน้ำสารภี 1,513000
58,งบประจำปี,0,62,50170000,สำนักงานเขตคลองสาน,-,งบลงทุน,ขุดลอกคลองวัดทองเพลง\n,2218000
59,งบประจำปี,0,62,50170000,สำนักงานเขตคลองสาน,-,งบลงทุน,ขุดลอกลำกระโดงชุมชนสองร้อยห้อง\nจากบริเวณบ้านเ...,89000
122,งบประจำปี,0,63,50170000,สำนักงานเขตคลองสาน,-,งบลงทุน,ขุดลอกคลองวัดทองธรรมชาติและคลองแยกคลองวัดทองธร...,500000
123,งบประจำปี,0,63,50170000,สำนักงานเขตคลองสาน,-,งบลงทุน,ขุดลอกคลองโรงปลา,90000
212,งบประจำปี,0,64,50170000,สำนักงานเขตคลองสาน,-,งบลงทุน,ขุดลอกลำกระโดงซอยอิสรภาพ 3,162000
213,งบประจำปี,0,64,50170000,สำนักงานเขตคลองสาน,-,งบลงทุน,ขุดลอกคลองหลังวัดพิชัยญาติและคลองวัดน้อยเก่า,209000
214,งบประจำปี,0,64,50170000,สำนักงานเขตคลองสาน,-,งบลงทุน,ขุดลอกคลองพระยาเกษม,487000
215,งบประจำปี,0,64,50170000,สำนักงานเขตคลองสาน,-,งบลงทุน,ขุดลอกคลองข้างโรงเรียนปทุมวิทยา,80000
252,งบประจำปี,0,64,50460000,สำนักงานเขตคลองสามวา,-,งบลงทุน,ขุดลอกคลองสามตะวันตก จากคลองสามวา ถึงคลองพระยา...,6236000
253,งบประจำปี,0,64,50460000,สำนักงานเขตคลองสามวา,-,งบลงทุน,ขุดลอกคลองสี่ตะวันตก จากคลองสามวา ถึงคลองพระยา...,5815000
271,งบประจำปี,0,65,50170000,สำนักงานเขตคลองสาน,NaN,งบลงทุน,ขุดลอกคลองวัดน้อยใหม่จากแยกบ้านแขกถึงคลองสมเด็...,659000
400,งบเพิ่มเติม,1,65,50460000,สำนักงานเขตคลองสามวา,NaN,งบลงทุน,ขุดลอกลำรางวัดแป้นทอง จากคลองสี่ตะวันตก ถึงคลอ...,1246200
401,งบเพิ่มเติม,1,65,50460000,สำนักงานเขตคลองสามวา,NaN,งบลงทุน,ขุดลอกลำรางครูพัว จากคลองสองตะวันตก ถึงคลองหนึ...,542200
402,งบเพิ่มเติม,1,65,50460000,สำนักงานเขตคลองสามวา,NaN,งบลงทุน,ขุดลอกลำรางตาชม จากคลองลำควายตาย ถึงคลองบางชัน,452300
403,งบเพิ่มเติม,1,65,50460000,สำนักงานเขตคลองสามวา,NaN,งบลงทุน,ขุดลอกคลองเจ๊ก จากคลองหนึ่งตะวันตก ถึงสุดเขตคล...,1204500
404,งบเพิ่มเติม,1,65,50460000,สำนักงานเขตคลองสามวา,NaN,งบลงทุน,ขุดลอกคลองซอยเชื่อมคลองลำแบนกับคลองหนองระแหง จ...,453600
441,งบประจำปี,0,66,50170000,สำนักงานเขตคลองสาน,NaN,งบลงทุน,ขุดลอกคลองโรงหนัง จากคลองบางไส้ไก่ถึงแม่น้ำเจ้...,1325000
442,งบประจำปี,0,66,50170000,สำนักงานเขตคลองสาน,NaN,งบลงทุน,ขุดลอกคลองข้างโรงน้ำแข็ง จากสุดระยะคลองถึงแม่น...,358000
443,งบประจำปี,0,66,50170000,สำนักงานเขตคลองสาน,NaN,งบลงทุน,ขุดลอกคลองข้างวัดอนงค์ จากคลองหลัง\nวัดพิชัยญา...,205000
681,งบเพิ่มเติม,1,66,50460000,สำนักงานเขตคลองสามวา,NaN,งบลงทุน,ขุดลอกลำรางตาเชย,3559000
682,งบเพิ่มเติม,1,66,50460000,สำนักงานเขตคลองสามวา,NaN,งบลงทุน,ขุดลอกลำรางไทยเอราวัณ,3494000
683,งบเพิ่มเติม,1,66,50460000,สำนักงานเขตคลองสามวา,NaN,งบลงทุน,ขุดลอกคลองหนึ่งตะวันตก,4330000
684,งบเพิ่มเติม,1,66,50460000,สำนักงานเขตคลองสามวา,NaN,งบลงทุน,ขุดลอกคลองสองตะวันตก,9832000
685,งบเพิ่มเติม,1,66,50460000,สำนักงานเขตคลองสามวา,NaN,งบลงทุน,ขุดลอกคลองกีบหมู,2925000
686,งบเพิ่มเติม,1,66,50460000,สำนักงานเขตคลองสามวา,NaN,งบลงทุน,ขุดลอกคลองลำกะโหลก,3875000
687,งบเพิ่มเติม,1,66,50460000,สำนักงานเขตคลองสามวา,NaN,งบลงทุน,ขุดลอกคลองผักกะเฉด,3686000
688,งบเพิ่มเติม,1,66,50460000,สำนักงานเขตคลองสามวา,NaN,งบลงทุน,ขุดลอกคลองบึงทรายกองดิน,2575000
689,งบเพิ่มเติม,1,66,50460000,สำนักงานเขตคลองสามวา,NaN,งบลงทุน,ขุดลอกลำรางซาฟารี,689000
690,งบเพิ่มเติม,1,66,50460000,สำนักงานเขตคลองสามวา,NaN,งบลงทุน,ขุดลอกลำรางตาจันทร์,464000

## ข้อ 3. จากข้อ 2 เขตไหนใช้งบประมาณมากกว่ากัน

In [ ]:
data1[data1['Department'] =='สำนักงานเขตคลองสาน'][['Approved_buget','Department']]

In [ ]:
data1[data1['Department'] =='สำนักงานเขตคลองสามวา'][['Approved_buget','Department']]

In [ ]:
data1[(data1['Department'] == 'สำนักงานเขตคลองสาน') | (data1['Department'] == 'สำนักงานเขตคลองสามวา')][['Approved_buget','Department']]

In [ ]:
KSan = data1[data1['Department'] =='สำนักงานเขตคลองสาน'][['Approved_buget']].sum()
KSam = data1[data1['Department'] =='สำนักงานเขตคลองสามวา'][['Approved_buget']].sum()

print(f'งบประมาณของสำนักงานเขตคลองสาน คือ {int(KSan):,} บาท')
print(f'งบประมาณของสำนักงานเขตคลองสามวา คือ {int(KSam):,} บาท')

print('')

result = KSan < KSam
if result is True:
  print('ดังนั้น งบประมาณของสำนักงานเขตคลองสาน มากกว่า งบประมาณของสำนักงานเขตคลองสามวา')
else:
  print('ดังนั้น งบประมาณของสำนักงานเขตคลองสามวา มากกว่า งบประมาณของสำนักงานเขตคลองสาน')

งบประมาณของสำนักงานเขตคลองสาน คือ 6,895,000 บาท
งบประมาณของสำนักงานเขตคลองสามวา คือ 51,378,800 บาท

ดังนั้น งบประมาณของสำนักงานเขตคลองสามวา มากกว่า งบประมาณของสำนักงานเขตคลองสาน

## ข้อ 4. Core Budget ไหน ('12-เงินสำรองจ่ายทั่วไป กรณีค่าใช้จ่ายต่างๆ เกี่ยวกับน้ำท่วม',  '17-เงินสำรองจ่ายทั่วไป กรณีค่าใช้จ่ายเพื่อการพัฒนากรุงเทพมหานคร', '28-เงินสำรองค่าใช้จ่าย ในการพัฒนาเขต') มีค่าเฉลี่ยงบประมาณที่ถูกอนุมัติสูงที่สุด

In [ ]:
set(data1['Core_budget_code']) # ตรวจสอบผลลัพธ์ในคอลัมน์ Core_budget_code

{'-',
 '12-เงินสำรองจ่ายทั่วไป กรณีค่าใช้จ่ายต่างๆ เกี่ยวกับน้ำท่วม',
 '17-เงินสำรองจ่ายทั่วไป กรณีค่าใช้จ่ายเพื่อการพัฒนากรุงเทพมหานคร',
 '28-เงินสำรองค่าใช้จ่าย ในการพัฒนาเขต',
 nan}

In [ ]:
# เอาค่า Null ออกก่อน
Dropnull = data1.fillna('-', inplace = False)
useful_data1 = Dropnull[Dropnull['Core_budget_code'] != '-']

# คำนวณค่าเฉลี่ยของแต่ละ Core budget
twelve = useful_data1[useful_data1['Core_budget_code'] == '12-เงินสำรองจ่ายทั่วไป กรณีค่าใช้จ่ายต่างๆ เกี่ยวกับน้ำท่วม'][['Approved_buget']].mean()
seventeen = useful_data1[useful_data1['Core_budget_code'] == '17-เงินสำรองจ่ายทั่วไป กรณีค่าใช้จ่ายเพื่อการพัฒนากรุงเทพมหานคร'][['Approved_buget']].mean()
twenty_eight = useful_data1[useful_data1['Core_budget_code'] == '28-เงินสำรองค่าใช้จ่าย ในการพัฒนาเขต'][['Approved_buget']].mean()

print(f'ค่าเฉลี่ยส่วนของเงินสำรองจ่ายทั่วไป กรณีค่าใช้จ่ายต่างๆ เกี่ยวกับน้ำท่วม คือ {int(twelve):,} บาท')
print(f'ค่าเฉลี่ยส่วนของเงินงินสำรองจ่ายทั่วไป กรณีค่าใช้จ่ายเพื่อการพัฒนากรุงเทพมหานคร คือ {int(seventeen):,} บาท')
print(f'ค่าเฉลี่ยส่วนของเงินสำรองค่าใช้จ่าย ในการพัฒนาเขต คือ {int(twenty_eight):,} บาท')

ค่าเฉลี่ยส่วนของเงินสำรองจ่ายทั่วไป กรณีค่าใช้จ่ายต่างๆ เกี่ยวกับน้ำท่วม คือ 1,676,459 บาท
ค่าเฉลี่ยส่วนของเงินงินสำรองจ่ายทั่วไป กรณีค่าใช้จ่ายเพื่อการพัฒนากรุงเทพมหานคร คือ 1,837,500 บาท
ค่าเฉลี่ยส่วนของเงินสำรองค่าใช้จ่าย ในการพัฒนาเขต คือ 485,500 บาท

In [ ]:
avg_core = int(twelve), int(seventeen), int(twenty_eight)
max(avg_core)

if max(avg_core) == int(twelve):
  print(f'ส่วนของเงินสำรองจ่ายทั่วไป กรณีค่าใช้จ่ายต่างๆ เกี่ยวกับน้ำท่วม มีค่าเฉลี่ยงบประมาณที่ถูกอนุมัติสูงที่สุด ซึ่งมีค่าเท่ากับ {int(twelve):,} บาท')
else:
  if max(avg_core) == int(seventeen):
    print(f'ส่วนของเงินสำรองจ่ายทั่วไป กรณีค่าใช้จ่ายเพื่อการพัฒนากรุงเทพมหานคร มีค่าเฉลี่ยงบประมาณที่ถูกอนุมัติสูงที่สุด ซึ่งมีค่าเท่ากับ {int(seventeen):,} บาท')
  elif max(avg_core) == int(twenty_eight):
    print(f'ส่วนของเงินสำรองค่าใช้จ่าย ในการพัฒนาเขต มีค่าเฉลี่ยงบประมาณที่ถูกอนุมัติสูงที่สุด ซึ่งมีค่าเท่ากับ {int(twenty_eight):,} บาท')

ส่วนของเงินสำรองจ่ายทั่วไป กรณีค่าใช้จ่ายเพื่อการพัฒนากรุงเทพมหานคร มีค่าเฉลี่ยงบประมาณที่ถูกอนุมัติสูงที่สุด ซึ่งมีค่าเท่ากับ 1,837,500 บาท

# HW4
จากตาราง ```sep_oct_df```

1.   งบประมาณประจำหรืองบประมาณลงทุน สูงกว่ากัน
2.   งบรวม เดือน oct หรือ sep อันไหนมากกว่ากัน
3.   แก้ค่า missing พร้อมทั้งให้เหตุผล
4.   เดือนไหนเบิกจ่ายรวมมากกว่ากัน (การใช้จ่าย (PO+เบิกจ่าย))

In [ ]:
import pandas as pd
import os

In [ ]:
from google.colab import drive # เชื่อมบัญชีกับ google drive
drive.mount('/content/drive') # เช็คว่าเชื่อมติดหรือไม่
path = '/content/drive/MyDrive/DataViz23Data' # ชี้ว่าใน google drive โฟลเดอร์ที่เราอยากได้

Mounted at /content/drive

In [ ]:
sep_df = pd.read_excel('/content/drive/MyDrive/DataViz23Data/BudgetSep65.xlsx', header=8, skipfooter=26)
sep_df = sep_df.iloc[-2:,:15]
sep_df['เดือน-ปี'] = len(sep_df)*['sep-65']
sep_df

,รายการ,งบประมาณ,สำรองเงินมีหนี้,PO,เบิกจ่าย,ร้อยละ\nเบิกจ่าย,เป้า\nหมาย Q4,*/- เป้าหมาย,การใช้จ่าย (PO+เบิกจ่าย),ร้อยละ\nการใช้จ่าย,เป้า\nหมาย Q4.1,*/- เป้าหมาย.1,คงเหลือ\nหลังหักใช้จ่าย,ลำดับเบิกจ่าย,ลำดับ\nใช้จ่าย,เดือน-ปี
2,ประจำ,1.892013e+10,7.925745e+07,7.131600e+07,1.880196e+10,99.375405,98.0,1.375405,1.895253e+10,100.171242,100.0,0.171242,-3.239918e+07,NaN,NaN,sep-65
3,ลงทุน,9.605258e+09,2.683430e+08,1.119320e+09,8.201965e+09,85.390363,75.0,10.390363,9.589628e+09,99.837275,100.0,-0.162725,1.563013e+07,6.0,15.0,sep-65

In [ ]:
oct_df = pd.read_excel('/content/drive/MyDrive/DataViz23Data/BudgetDec65.xlsx', header=9, skipfooter=27)
oct_df = oct_df.iloc[-2:,:15]
oct_df['เดือน-ปี'] = len(oct_df)*['oct-65']
oct_df

,รายการ,งบประมาณ,สำรองเงินมีหนี้,PO,เบิกจ่าย,ร้อยละ\nเบิกจ่าย,เป้า\nหมาย Q1,*/- เป้าหมาย,การใช้จ่าย (PO+เบิกจ่าย),ร้อยละ\nการใช้จ่าย,เป้า\nหมาย Q1.1,*/- เป้าหมาย.1,คงเหลือ\nหลังหักใช้จ่าย,ลำดับเบิกจ่าย,ลำดับ\nใช้จ่าย,เดือน-ปี
2,ประจำ,6822.811789,NaN,12.706842,3984.779058,58.403766,35.0,23.403766,3997.485900,58.590007,35.33,23.260007,2825.325889,NaN,NaN,oct-65
3,ลงทุน,6180.211723,NaN,457.295806,1291.209026,20.892634,19.0,1.892634,1748.504832,28.291989,28.96,-0.668011,4431.706890,4.0,6.0,oct-65

In [ ]:
sep_oct_df = pd.concat([sep_df,oct_df])
sep_oct_df

,รายการ,งบประมาณ,สำรองเงินมีหนี้,PO,เบิกจ่าย,ร้อยละ\nเบิกจ่าย,เป้า\nหมาย Q4,*/- เป้าหมาย,การใช้จ่าย (PO+เบิกจ่าย),ร้อยละ\nการใช้จ่าย,เป้า\nหมาย Q4.1,*/- เป้าหมาย.1,คงเหลือ\nหลังหักใช้จ่าย,ลำดับเบิกจ่าย,ลำดับ\nใช้จ่าย,เดือน-ปี,เป้า\nหมาย Q1,เป้า\nหมาย Q1.1
2,ประจำ,1.892013e+10,7.925745e+07,7.131600e+07,1.880196e+10,99.375405,98.0,1.375405,1.895253e+10,100.171242,100.0,0.171242,-3.239918e+07,NaN,NaN,sep-65,NaN,NaN
3,ลงทุน,9.605258e+09,2.683430e+08,1.119320e+09,8.201965e+09,85.390363,75.0,10.390363,9.589628e+09,99.837275,100.0,-0.162725,1.563013e+07,6.0,15.0,sep-65,NaN,NaN
2,ประจำ,6.822812e+03,NaN,1.270684e+01,3.984779e+03,58.403766,NaN,23.403766,3.997486e+03,58.590007,NaN,23.260007,2.825326e+03,NaN,NaN,oct-65,35.0,35.33
3,ลงทุน,6.180212e+03,NaN,4.572958e+02,1.291209e+03,20.892634,NaN,1.892634,1.748505e+03,28.291989,NaN,-0.668011,4.431707e+03,4.0,6.0,oct-65,19.0,28.96

## ข้อ 1.  งบประมาณประจำหรืองบประมาณลงทุน สูงกว่ากัน

In [ ]:
#หาผลรวมของงบแต่ละประเภท
annual_budget = sep_oct_df[sep_oct_df['รายการ'] =='ประจำ'][['งบประมาณ']].sum()
capital_budget = sep_oct_df[sep_oct_df['รายการ'] =='ลงทุน'][['งบประมาณ']].sum()

#แสดงผลรวมของงบแต่ละประเภท
print(f'งบประมาณประจำ มีมูลค่าเท่ากับ {int(annual_budget):,} บาท')
print(f'งบประมาณลงทุน มีมูลค่าเท่ากับ {int(capital_budget):,} บาท')

print(' ')

budget = int(annual_budget) < int(capital_budget)
cal1 = int(annual_budget) - int(capital_budget) ##เก็บตัวแปรไว้
cal2 = int(capital_budget) - int(annual_budget)

#หาว่างบประเภทใดมีมูลค่าสูงกว่า และสูงกว่าอยู่เท่าใด
if budget is False:
  print(f'ดังนั้น "งบประมาณประจำ" มีมูลค่า สูงกว่า "งบประมาณลงทุน" และสูงกว่าอยู่ {(int(annual_budget) - int(capital_budget)):,} บาท')
else:
  print(f'ดังนั้น "งบประมาณลงทุน" มีมูลค่า สูงกว่า "งบประมาณประจำ" และสูงกว่าอยู่ {(int(capital_budget) - int(annual_budget)):,} บาท')

งบประมาณประจำ มีมูลค่าเท่ากับ 18,920,138,255 บาท
งบประมาณลงทุน มีมูลค่าเท่ากับ 9,605,264,135 บาท

ดังนั้น "งบประมาณประจำ" มีมูลค่า สูงกว่า "งบประมาณลงทุน" และสูงกว่าอยู่ 9,314,874,120 บาท


## ข้อ 2. งบรวม เดือน oct หรือ sep อันไหนมากกว่ากัน

# แสดงงบประมาณทั้งหมดจากตาราง ```sep_oct_df```

In [ ]:
#งบประจำในเดือนกันยายน
ann_sep = sep_oct_df[(sep_oct_df['รายการ']=='ประจำ') & (sep_oct_df['เดือน-ปี']=='sep-65')]['งบประมาณ']
print(f'งบประจำในเดือนกันยายน มีมูลค่า {int(ann_sep):,} บาท')

#งบลงทุนในเดือนกันยายน
cap_sep = sep_oct_df[(sep_oct_df['รายการ']=='ลงทุน') & (sep_oct_df['เดือน-ปี']=='sep-65')]['งบประมาณ']
print(f'งบลงทุนในเดือนกันยายน มีมูลค่า {int(cap_sep):,} บาท')

#งบประจำในเดือนตุลาคม
ann_oct = sep_oct_df[(sep_oct_df['รายการ']=='ประจำ') & (sep_oct_df['เดือน-ปี']=='oct-65')]['งบประมาณ']
print(f'งบประจำในเดือนตุลาคม มีมูลค่า {int(ann_oct):,} บาท')

#งบลงทุนในเดือนกันยายน
cap_oct = sep_oct_df[(sep_oct_df['รายการ']=='ลงทุน') & (sep_oct_df['เดือน-ปี']=='oct-65')]['งบประมาณ']
print(f'งบลงทุนในเดือนตุลาคม มีมูลค่า {int(cap_oct):,} บาท')

งบประจำในเดือนกันยายน มีมูลค่า 18,920,131,432 บาท
งบลงทุนในเดือนกันยายน มีมูลค่า 9,605,257,955 บาท
งบประจำในเดือนตุลาคม มีมูลค่า 6,822 บาท
งบลงทุนในเดือนตุลาคม มีมูลค่า 6,180 บาท

In [ ]:
#งบรวม เดือนกันยายน (sep-65)
sep_budget = sep_oct_df[sep_oct_df['เดือน-ปี'] =='sep-65'][['งบประมาณ']].sum()

#งบรวม เดือนตุลาคม (oct-65)
oct_budget = sep_oct_df[sep_oct_df['เดือน-ปี'] =='oct-65'][['งบประมาณ']].sum()

print(f'งบรวมในเดือนกันยายน มีมูลค่า {int(sep_budget):,} บาท')
print(f'งบรวมในเดือนตุลาคม มีมูลค่า {int(oct_budget):,} บาท')

print(' ')

#หาว่างบรวมในเดือนใดมีมูลค่ามากกว่า และมากกว่าอยู่เท่าใด
if int(sep_budget) > int(oct_budget):
  print(f'ดังนั้น "งบรวมในเดือนกันยายน" มีมูลค่า มากกว่า "งบรวมในเดือนตุลาคม" และมากกว่าอยู่ {(int(sep_budget) - int(oct_budget)):,} บาท')
elif int(sep_budget) < int(oct_budget):
  print(f'ดังนั้น "งบรวมในเดือนตุลาคม" มีมูลค่า มากกว่ากว่า "งบรวมในเดือนกันยายน" และมากกว่าอยู่ {(int(oct_budget) - int(sep_budget)):,} บาท')

งบรวมในเดือนกันยายน มีมูลค่า 28,525,389,387 บาท
งบรวมในเดือนตุลาคม มีมูลค่า 13,003 บาท

ดังนั้น "งบรวมในเดือนกันยายน" มีมูลค่า มากกว่า "งบรวมในเดือนตุลาคม" และมากกว่าอยู่ 28,525,376,384 บาท

## ข้อ 3. แก้ค่า missing พร้อมทั้งให้เหตุผล

In [ ]:
sep_oct_df = pd.concat([sep_df,oct_df])
sep_oct_df

,รายการ,งบประมาณ,สำรองเงินมีหนี้,PO,เบิกจ่าย,ร้อยละ\nเบิกจ่าย,เป้า\nหมาย Q4,*/- เป้าหมาย,การใช้จ่าย (PO+เบิกจ่าย),ร้อยละ\nการใช้จ่าย,เป้า\nหมาย Q4.1,*/- เป้าหมาย.1,คงเหลือ\nหลังหักใช้จ่าย,ลำดับเบิกจ่าย,ลำดับ\nใช้จ่าย,เดือน-ปี,เป้า\nหมาย Q1,เป้า\nหมาย Q1.1
2,ประจำ,1.892013e+10,7.925745e+07,7.131600e+07,1.880196e+10,99.375405,98.0,1.375405,1.895253e+10,100.171242,100.0,0.171242,-3.239918e+07,NaN,NaN,sep-65,NaN,NaN
3,ลงทุน,9.605258e+09,2.683430e+08,1.119320e+09,8.201965e+09,85.390363,75.0,10.390363,9.589628e+09,99.837275,100.0,-0.162725,1.563013e+07,6.0,15.0,sep-65,NaN,NaN
2,ประจำ,6.822812e+03,NaN,1.270684e+01,3.984779e+03,58.403766,NaN,23.403766,3.997486e+03,58.590007,NaN,23.260007,2.825326e+03,NaN,NaN,oct-65,35.0,35.33
3,ลงทุน,6.180212e+03,NaN,4.572958e+02,1.291209e+03,20.892634,NaN,1.892634,1.748505e+03,28.291989,NaN,-0.668011,4.431707e+03,4.0,6.0,oct-65,19.0,28.96

In [ ]:
sep_oct_df.rename(columns=lambda x: x.replace('\n', '')) #ลบค่า \n ในหัวข้อคอลัมน์
sep_oct_df.rename(columns=lambda x: x.replace('*/-', '')) #ลบค่า */- ในหัวข้อคอลัมน์

#เปลี่ยนค่า NaN ให้เป็นค่า -
#เนื่องจากไม่มีข้อมูลที่แสดงให้เห็นจากตาราง

sep_oct_df.fillna('-',inplace=True) #หากใช้ .dropna จะทำให้ทุกแถวหายไป เนื่องจากในทุกๆ แถวมีค่า NaN ทั้งหมด
sep_oct_df

,รายการ,งบประมาณ,สำรองเงินมีหนี้,PO,เบิกจ่าย,ร้อยละเบิกจ่าย,เป้าหมาย Q4,เป้าหมาย,การใช้จ่าย (PO+เบิกจ่าย),ร้อยละการใช้จ่าย,เป้าหมาย Q4.1,เป้าหมาย.1,คงเหลือหลังหักใช้จ่าย,ลำดับเบิกจ่าย,ลำดับใช้จ่าย,เดือน-ปี,เป้าหมาย Q1,เป้าหมาย Q1.1
2,ประจำ,1.892013e+10,79257448.41,7.131600e+07,1.880196e+10,99.375405,98.0,1.375405,1.895253e+10,100.171242,100.0,0.171242,-3.239918e+07,-,-,sep-65,-,-
3,ลงทุน,9.605258e+09,268343006.52,1.119320e+09,8.201965e+09,85.390363,75.0,10.390363,9.589628e+09,99.837275,100.0,-0.162725,1.563013e+07,6.0,15.0,sep-65,-,-
2,ประจำ,6.822812e+03,-,1.270684e+01,3.984779e+03,58.403766,-,23.403766,3.997486e+03,58.590007,-,23.260007,2.825326e+03,-,-,oct-65,35.0,35.33
3,ลงทุน,6.180212e+03,-,4.572958e+02,1.291209e+03,20.892634,-,1.892634,1.748505e+03,28.291989,-,-0.668011,4.431707e+03,4.0,6.0,oct-65,19.0,28.96

## ข้อ 4. เดือนไหนเบิกจ่ายรวมมากกว่ากัน (การใช้จ่าย (PO+เบิกจ่าย))

In [ ]:
print('การใช้จ่าย (PO+เบิกจ่าย) โดยแบ่งแยกตามรายการในแต่ละเดือน แสดงรายละเอียดดังนี้')
print(' ')

ann_sep_pay = sep_oct_df[(sep_oct_df['รายการ']=='ประจำ') & (sep_oct_df['เดือน-ปี']=='sep-65')]['การใช้จ่าย (PO+เบิกจ่าย)']
print(f'งบประจำในเดือนกันยายน มีการเบิกจ่ายอยู่ที่ {int(ann_sep_pay):,} บาท')

cap_sep_pay = sep_oct_df[(sep_oct_df['รายการ']=='ลงทุน') & (sep_oct_df['เดือน-ปี']=='sep-65')]['การใช้จ่าย (PO+เบิกจ่าย)']
print(f'งบลงทุนในเดือนกันยายน มีการเบิกจ่ายอยู่ที่ {int(cap_sep_pay):,} บาท')

ann_oct_pay = sep_oct_df[(sep_oct_df['รายการ']=='ประจำ') & (sep_oct_df['เดือน-ปี']=='oct-65')]['การใช้จ่าย (PO+เบิกจ่าย)']
print(f'งบประจำในเดือนตุลาคม มีการเบิกจ่ายอยู่ที่ {int(ann_oct_pay):,} บาท')

cap_oct_pay = sep_oct_df[(sep_oct_df['รายการ']=='ลงทุน') & (sep_oct_df['เดือน-ปี']=='oct-65')]['การใช้จ่าย (PO+เบิกจ่าย)']
print(f'งบลงทุนในเดือนตุลาคม มีการเบิกจ่ายอยู่ที่ {int(cap_oct_pay):,} บาท')

print(' ')

#ผลรวมการเบิกจ่ายรายเดือน
sep_pay = sep_oct_df[sep_oct_df['เดือน-ปี'] =='sep-65'][['การใช้จ่าย (PO+เบิกจ่าย)']].sum()
oct_pay = sep_oct_df[sep_oct_df['เดือน-ปี'] =='oct-65'][['การใช้จ่าย (PO+เบิกจ่าย)']].sum()

print('จะได้ว่า')
print(f'ในเดือนกันยายน มีการเบิกจ่ายอยู่ที่ {int(sep_pay):,} บาท')
print(f'ในเดือนตุลาคม มีการเบิกจ่ายอยู่ที่ {int(oct_pay):,} บาท')

print(' ')

#หาว่าเดือนใดมีการเบิกจ่ายรวมมากกว่า และมากกว่าอยู่เท่าใด
pay = int(sep_pay) > int(oct_pay)
if pay is True:
  print(f'ดังนั้น ในเดือน "กันยายน" มีการเบิกจ่ายมากกว่า "ตุลาคม" และมากกว่าอยู่ {(int(annual_budget) - int(capital_budget)):,} บาท')
else:
  print(f'ดังนั้น ในเดือน "ตุลาคม" มีการเบิกจ่ายมากกว่า "กันยายน" และมากกว่าอยู่ {(int(capital_budget) - int(annual_budget)):,} บาท')

การใช้จ่าย (PO+เบิกจ่าย) โดยแบ่งแยกตามรายการในแต่ละเดือน แสดงรายละเอียดดังนี้

งบประจำในเดือนกันยายน มีการเบิกจ่ายอยู่ที่ 18,952,530,608 บาท
งบลงทุนในเดือนกันยายน มีการเบิกจ่ายอยู่ที่ 9,589,627,825 บาท
งบประจำในเดือนตุลาคม มีการเบิกจ่ายอยู่ที่ 3,997 บาท
งบลงทุนในเดือนตุลาคม มีการเบิกจ่ายอยู่ที่ 1,748 บาท

จะได้ว่า
ในเดือนกันยายน มีการเบิกจ่ายอยู่ที่ 28,542,158,434 บาท
ในเดือนตุลาคม มีการเบิกจ่ายอยู่ที่ 5,745 บาท

ดังนั้น ในเดือน "กันยายน" มีการเบิกจ่ายมากกว่า "ตุลาคม" และมากกว่าอยู่ 9,314,874,120 บาท