<a href="https://colab.research.google.com/github/Thippawan72/Thippawan-Supho/blob/main/Regular_Expression.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Regular Expression

A RegEx, or Regular Expression, is a sequence of characters that forms a search pattern.

RegEx can be used to check if a string contains the specified search pattern.

Python has a built-in package called re, which can be used to work with Regular Expressions.

In [1]:
import re

### Basic re functions
`findall`	Returns a list containing all matches<br>
`search`	Returns a Match object if there is a match anywhere in the string<br>
`split`	    Returns a list where the string has been split at each match<br>
`sub`	    Replaces one or many matches with a string<br>
Link to more: https://www.w3schools.com/python/python_regex.asp

In [2]:
txt = "The rain in Spain"
x = re.findall("ai", txt)
print(x)

['ai', 'ai']

In [3]:
txt = "The rain in Spain"
x = re.search("ai", txt)
print(x) #this will print an object

<re.Match object; span=(5, 7), match='ai'>

In [4]:
txt = "The rain in Spain"
x = re.search("\s", txt)
print(x)
print("The first white-space character is located in position:", x.start())

<re.Match object; span=(3, 4), match=' '>
The first white-space character is located in position: 3

In [5]:
# Search the string to see if it starts with "The" and ends with "Spain"
txt = "The rain in Spain"
x = re.search("^The.*Spain$", txt)
x

In [6]:
txt = "The rain in Spain"
x = re.split("\s", txt)
print(x)

['The', 'rain', 'in', 'Spain']

In [7]:
txt = "The rain in Spain"
x = re.sub("\s", "9", txt)
print(x)

The9rain9in9Spain

### Python build-in functions

In [8]:
"python is FUN!".capitalize()

'Python is fun!'

In [9]:
"36 is my age.".capitalize()

'36 is my age.'

In [10]:
"Hello my FRIENDS".lower()

'hello my friends'

The `replace()` method replaces a specified phrase with another specified phrase.<br>
Note: All occurrences of the specified phrase will be replaced, if nothing else is specified.<br>
`string.replace(oldvalue, newvalue, count)`<br>
oldvalue: Required. The string to search for<br>
newvalue: Required. The string to replace the old value with<br>
count: Optional. A number specifying how many occurrences of the old value you want to replace. Default is all occurrences

In [11]:
txt = "I like bananas"
x = txt.replace("bananas", "apples")
print(x)

I like apples

In [12]:
txt = "one one was a race horse, two two was one too."
x = txt.replace("one", "three")
print(x)

three three was a race horse, two two was three too.

In [13]:
txt = "one one was a race horse, two two was one too."
x = txt.replace("one", "three", 2)
print(x)

three three was a race horse, two two was one too.

`string.count(value, start, end)`<br>
value: Required. A String. The string to value to search for<br>
start: Optional. An Integer. The position to start the search. Default is 0<br>
end: Optional. An Integer. The position to end the search. Default is the end of the string

In [14]:
txt = "I love apples, apple are my favorite fruit"
x = txt.count("apple")
x

2

In [15]:
txt = "I love apples, apple are my favorite fruit"
x = txt.count("apple", 10, 24)
x

1

`string.endswith(value, start, end)`<br>
value: Required. The value to check if the string ends with<br>
start: Optional. The position to start the search. Default is 0<br>
end: Optional. The position to end the search. Default is the end of the string

In [16]:
txt = "Hello, welcome to my world."
x = txt.endswith(".")
x

True

In [17]:
txt = "Hello, welcome to my world."
x = txt.endswith("my world.")
x

True

In [18]:
txt = "Hello, welcome to my world."
x = txt.endswith("my world.", 5, 11)
print(txt[11])
print(x)

o
False

The `find()` method finds the first occurrence of the specified value.<br>
The `find()` method returns -1 if the value is not found.<br>
`string.find(value, start, end)`<br>
value: Required. The value to search for<br>
start: Optional. Where to start the search. Default is 0<br>
end: Optional. Where to end the search. Default is to the end of the string

In [19]:
txt = "Hello, welcome to my world."
x = txt.find("e")
print(x)

1

In [20]:
txt = "Hello, welcome to my world."
x = txt.find("e", 5, 10)
print(x)

8

In [21]:
txt = "Hello, welcome to my world."
print(txt.rfind("e"))

13

The `split()` method splits a string into a list. You can specify the separator, default separator is any whitespace.<br>
Note: When maxsplit is specified, the list will contain the specified number of elements plus one.<br>
`string.split(separator, maxsplit)`<br>
separator: Optional. Specifies the separator to use when splitting the string. By default any whitespace is a separator<br>
maxsplit: Optional. Specifies how many splits to do. Default value is -1, which is "all occurrences"

In [ ]:
txt = "hello, my name is Peter, I am 26 years old"
x = txt.split(", ")
print(x)

['hello', 'my name is Peter', 'I am 26 years old']

In [ ]:
txt = "apple#banana#cherry#orange"
x = txt.split("#")
print(x)

['apple', 'banana', 'cherry', 'orange']

In [ ]:
txt = "apple#banana#cherry#orange"
# setting the maxsplit parameter to 1, will return a list with 2 elements!
x = txt.split("#", 1)
print(x)

['apple', 'banana#cherry#orange']

The `strip()` method removes any leading (spaces at the beginning) and trailing (spaces at the end) characters (space is the default leading character to remove)<br>
`string.strip(characters)`<br>
characters: Optional. A set of characters to remove as leading/trailing characters

In [ ]:
txt = "     banana     "
x = txt.strip()
print("of all fruits", x, "is my favorite")

of all fruits banana is my favorite

In [ ]:
txt = ",,,,,rrttgg.....banana....rrr"
x = txt.strip(",.grt")
print(x)

banana

The `lstrip()` method removes any leading characters (space is the default leading character to remove)<br>
`string.lstrip(characters)`
characters: Optional. A set of characters to remove as leading characters

In [ ]:
txt = "     banana     "
print(txt.lstrip(), 'is yummy')
print(txt.rstrip(), 'is yummy')

banana      is yummy
     banana is yummy

In [ ]:
txt = ",,,,,ssaaww.....banana"
x = txt.lstrip(",.asw")
print(x)

banana